[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
requests = "*"
millify = "*"
beautifulsoup4 = "*"
pyrh = "*"
robin-stocks = "*"
plexapi = "*"
pycoingecko = "*"
asyncio = "*"
aiohttp = "*"
psycopg2-binary = "*"
boto3 = "*"
graphqlclient = "*"
python-graphql-client = "*"
web3 = "*"
py-solc = "*"

[dev-packages]

[requires]
python_version = "3.8"
